@page "/Block"
<h3>Block</h3>

<div class="yandex-block">
    <div class="block">
        <div class="block-img">
            <img class="image" src="image/Авы-с-машинами-тачки_009.jpg"/>
            <div class="block-header">
                <img class="block-avatar" src="image/Авы-с-машинами-тачки_009.jpg"/>
                <div class="header-text">Trendamoda<br> 289,9 тыс читали • 3 месяца назад<br/>
                </div>
            </div>
            <div class="block-text">
                <div class="text-header"> ВЫ ТОЖЕ ТАК УСТАЛИ? Легендарный Пудж теперь на вашей футболке!
                    <div class="text"> Забудьте скучные и серые футболки — теперь ваш стильный образ станет не только модным, но и эпическим! Представляем футболку с классическим Пуджом из Dota 2...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-img">
            <img class="image" src="image/Amnam.jpg"/>
            <div class="block-header">
                <img class="block-avatar" src="image/Amnam.jpg"/>
                <div class="header-text">Trendamoda<br> 289,9 тыс читали • 3 месяца назад<br/>
                </div>
            </div>
            <div class="block-text">
                <div class="text-header"> ВЫ ТОЖЕ ТАК УСТАЛИ? Легендарный Пудж теперь на вашей футболке!
                    <div class="text"> Забудьте скучные и серые футболки — теперь ваш стильный образ станет не только модным, но и эпическим! Представляем футболку с классическим Пуджом из Dota 2...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-img">
            <img class="image" src="image/Авы-с-машинами-тачки_009.jpg"/>
            <div class="block-header">
                <img class="block-avatar" src="image/Авы-с-машинами-тачки_009.jpg"/>
                <div class="header-text">Trendamoda<br> 289,9 тыс читали • 3 месяца назад<br/>
                </div>
            </div>
            <div class="block-text">
                <div class="text-header"> ВЫ ТОЖЕ ТАК УСТАЛИ? Легендарный Пудж теперь на вашей футболке!
                    <div class="text"> Забудьте скучные и серые футболки — теперь ваш стильный образ станет не только модным, но и эпическим! Представляем футболку с классическим Пуджом из Dota 2...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-img">
            <img class="image" src="image/Авы-с-машинами-тачки_009.jpg"/>
            <div class="block-header">
                <img class="block-avatar" src="image/Авы-с-машинами-тачки_009.jpg"/>
                <div class="header-text">Trendamoda<br> 289,9 тыс читали • 3 месяца назад<br/>
                </div>
            </div>
            <div class="block-text">
                <div class="text-header"> ВЫ ТОЖЕ ТАК УСТАЛИ? Легендарный Пудж теперь на вашей футболке!
                    <div class="text"> Забудьте скучные и серые футболки — теперь ваш стильный образ станет не только модным, но и эпическим! Представляем футболку с классическим Пуджом из Dota 2...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
}